@import "../../index.scss";

.bio {

     display: grid;
     grid-template-columns: auto 1fr 10%;
     align-items: flex-start;
     justify-content: start;

}


.min_bio_img {
     width: 50px;
}

.min_bio_ul {
     margin: 0px;
     padding: 0px;
     padding-left: 10px;
     list-style: none;
}

.min_bio_small {
     color: gray;
}

.min_bio_h3 {
     color: $color;
     padding: 0px;
     margin: 0px;
}