.container {
     width: 70%;
     height: 100vh;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}


.navContainer {
     // background-color: tomato;
}

.postContainer {
     background-color: skyblue;
     display: grid;
     grid-template-rows: 30% 70%;
}

.feedContainer {
     background-color: yellow;
}

.trendingContainer {
     background-color: slateblue;
}