@import "../../index.scss";

.post-container {
     margin: 10px 0px;
     background-color: #f3f3f325;
     padding: 5px;
     border-radius: 10px;




}

.post_content {

     list-style: none;

}


.post_item {
     display: inline;
     color: $color;
     padding: 5px;

     margin-right: 15px;

}